#page-wrapper {
max-width: 960px;
margin: 0 auto;
}

#header{
background-color: green;
}

#navigation{
background-color: yellow;
}

#content{
display: inline-block;
width: 500px;
background-color: grey;
}